<%- include('../partials/header') %>

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cart</title>
    <link rel="stylesheet" type="text/css" href="path/to/your/css.css">
</head>
<body>
    <main>
        <h1>Your Cart</h1>
        
        <% if (cartPackages.length === 0) { %>
            <p>Your cart is empty</p>
        <% } else { %>
            
            <ul>
                <% cartPackages.forEach(package => { %>
                    <li>
                        <% if (package.mealPlan) { %>
                            <strong class="meal-plan-title"><%= package.mealPlan.plan %> - $<%= package.price.toFixed(2) %></strong> (Quantity: <%= package.quantity %>)
                            <a href="/cart/edit-meals/<%= package.mealPlan._id %>">Edit Meals</a>
                        <% } else { %>
                            <p>Meal plan information is missing.</p>
                        <% } %>
                        <ul>
                            <% package.selectedMeals.forEach(meal => { %>
                                <li><%= meal.name %></li>
                            <% }) %>
                        </ul>
                    </li>
                <% }) %>
            </ul>
                    
            <h2>Total: $<%= totalPrice.toFixed(2) %></h2>
        <% } %>
        <form action="/cart/clear" method="post">
            <button type="submit">Empty Cart</button>
        </form>
    </main>
</body>
</html>
<%- include('../partials/footer') %>
