<%- include('../partials/header') %>

<!DOCTYPE html>
<html>
<head>
    <title>Cart</title>
</head>
<body>
    <h1>Your Cart</h1>
    
    <form action="/cart/clear" method="post">
        <button type="submit">Empty Cart</button>
    </form>

    <ul>
        <% cartPackages.forEach(package => { %>
            <li>
                <strong><%= package.mealPlan.plan %> - $<%= package.price.toFixed(2) %></strong> (Quantity: <%= package.quantity %>)
                <ul>
                    <% package.mealPlan.selectedMeals.forEach(meal => { %>
                        <li><%= meal.name %></li>
                    <% }) %>
                </ul>
            </li>
        <% }) %>
    </ul>

    <h2>Total: $<%= totalPrice.toFixed(2) %></h2>

</body>
</html>
