<%- include('../partials/header') %>

<!DOCTYPE html>
<html>
<head>
    
</head>
<body>
    <h1>Edit Meals</h1>
    
    <form action="/cart/edit-meals/<%= mealPlan._id %>" method="post">
        <ul>
            <% allMeals.forEach(meal => { %>
                <li>
                    <span><%= meal.name %></span>
                    <input type="checkbox" name="selectedMeals" value="<%= meal._id %>" <%= selectedMealsMap[meal._id] ? 'checked' : '' %>>

                </li>
            <% }) %>
        </ul>

        <select name="mealPlanType">
            <option value="basic">Basic - 7 Meals</option>
            <option value="pro">Pro - 10 Meals</option>
            <option value="gainz">Gainz - 14 Meals</option>
        </select>
        <input type="submit" value="Add to Cart">
    </form>
</body>
</html>
<%- include('../partials/footer') %>
