<%- include('../partials/header') %>

<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h1>All Meals</h1>
    
    <form action="/add-to-cart" method="post">
        <ul>
            <% allMeals.forEach(meal => { %>
                <li>
                    <!-- Display the name of the meal -->
                    <span><%= meal.name %></span> - <%= meal.calories %> calories - $<%= meal.price %>
            
                    <!-- Checkbox for each meal -->
                    <input type="checkbox" name="selectedMeals" value="<%= meal._id %>">
                </li>
            <% }) %>
            
        </ul>

        <select name="mealPlanType">
            <option value="basic">Basic - 7 Meals</option>
            <option value="pro">Pro - 10 Meals</option>
            <option value="gainz">Gainz - 14 Meals</option>
        </select>
        <input type="submit" value="Add to Cart">
    </form>
</body>
</html>
