<%- include('../partials/header') %>

<!DOCTYPE html>
<html>
<head>
</head>
<body class="content-body">
    <h1>All Meals</h1>
    
    <form action="/add-to-cart" method="post">
        <ul>
            <select name="mealPlanType">
                <option value="basic">Basic - 7 Meals</option>
                <option value="pro">Pro - 10 Meals</option>
                <option value="gainz">Gainz - 14 Meals</option>
            </select>
            <% allMeals.forEach(meal => { %>
                <div class="meal-card">
                    <div class="meal-info">
                        <img src="<%= meal.image %>" alt="<%= meal.name %>">
                        <div>
                            <span class="meals"><%= meal.name %></span>
                        </div>
                    </div>
                    <div class="macros">
                        <div class="macro calories"><%= meal.calories %> cal</div>
                        <div class="macro protein"><%= meal.protein %>g protein</div>
                        <div class="macro carbs"><%= meal.carbs %>g carbs</div>
                        <div class="macro fat"><%= meal.fat %>g fat</div>
                    </div>
                    <div class="meal-checkbox">
                        <input type="checkbox" id="<%= meal._id %>" name="selectedMeals" value="<%= meal._id %>">
                        <label for="<%= meal._id %>"></label>
                    </div>
                </div>
                
                
            <% }) %>
                <input class="cartBtn" type="submit" value="Add to Cart">
        </ul>
    </form>
    
</body>
</html>
<%- include('../partials/footer') %>
