<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <h1><%= meal.name %></h1>
    <p><%= meal.calories %> calories</p>
    <p>$<%= meal.price %></p>
    <a href="/meals">Back to All Meals</a>
</body>
</html>
<%- include('../partials/footer') %>
